<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <%# /sample_app/app/views/shared/_user_info.html.erb %>
      <%= render 'shared/user_info' %>
    </section>
    <section class="stats">
      <%# /sample_app/app/views/shared/_stats.html.erb %>
      <%= render 'shared/stats' %>
    </section>
    <section class="micropost_form">
      <%# /sample_app/app/views/shared/_micropost_form.html.erb %>
      <%= render 'shared/micropost_form' %>
    </section>
  </aside>
  <%# これまで投稿したポストを表示する %>
  <div class="col-md-8">
    <h3>Micropost Feed</h3>
    <%# /sample_app/app/views/shared/_feed.html.erb %>
    <%= render 'shared/feed' %>
  </div>
</div>
