<%# すべてのユーザーを一覧で表示する %>
<%# 順番が気持ち悪いが:titleを指定し、layouts/application.html.erb内で使用している %>
<% provide(:title, 'All users') %>
<h1>All users</h1>

<%# ページネーションUIの表示 %>
<%= will_paginate %>

<ul class="users">
  <%# @users はuserのリストと推測される %>
  <%# 結果として、以下のコードと同じ結果となる %>
  <%= render @users %>
  <%# @users.each do |user| %>
    <%# renderの引数をuserにすると %>
    <%# _user.html.erb を参照する %>
    <%#= render user %>
  <%# end %>
</ul>

<%# ページネーションUIの表示 %>
<%= will_paginate %>