<%# 順番が気持ち悪いが:titleに@user.nameを指定し、layouts/application.html.erb内で使用している %>
<% provide(:title, 'Sign up') %>
<%# 順番が気持ち悪いが:button_textに"Create Account"を指定し、 %>
<%# users/_form.html.erb内で使用している %>
<% provide(:button_text, 'Create my account') %>
<% provide(:output_path, signup_path) %>
<h1>Sign up</h1>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%# /usersに対してpostで送信するフォーム %>
    <%# /sample_app/app/views/users/_form.html.erbに定義したレイアウトフォーム %>
    <%= render 'form' %>
    <%# 以下のようなハッシュを/usersにPOSTで送信する %>
    <%#
    {"utf8"=>"✓",
     "authenticity_token"=>"XXXXXXXXXX==",
     "user"=>{"name"=>"yjkym", 
     "email"=>"y@jk.ym", 
     "password"=>"[FILTERED]", 
     "password_confirmation"=>"[FILTERED]"},
     "commit"=>"Create my account"} %>
  </div>
</div>