<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <!-- link_toメソッド：第一引数リンクテキスト、第二引数URL、第三引数id指定 -->
    <%#= link_to "sample app", '#', id: "logo" %>
    <!-- 第二引数に名前付きルートを指定 -->
    <%= link_to "sample app", root_path, id: "logo" %>
    <!-- ナビゲーションリンクであることを明示 -->
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Home",   root_path %></li>
        <li><%= link_to "Help",   help_path %></li>
        <li><%= link_to "Log in", '#' %></li>
      </ul>
    </nav>
  </div>
</header>
